@using VideosWebsite.Services.VideoAccess
@using Microsoft.AspNetCore.Html
@using VideosWebsite.Services
@using VideosWebsite.Services.HTML_Helpers.GetFileName

@{
    ViewData["Title"] = "Videos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>VideosPage</h1>

<div>
    <input type="text"/>
</div>

<div>
    @{Html.RenderPartial("../PartialViews/_TagsBar.cshtml");}
</div>

<div>
    <!--OPEN UPLOAD VIDEO MODAL WINDOW -->
    <a asp-controller="Videos" asp-action="UploadVideo">Upload Video</a>
</div>


<div class="thumbnailgrid">
    @foreach (Video video in Model)
    {
        <a href="@Url.Action("PlayVideo", "Videos", new { id = video.Id})">
            <img class="thumbnail" src="@video.thumbnailpath" />
        </a>
    }
</div>