@using VideosWebsite.Services.VideoAccess
@using Microsoft.AspNetCore.Html
@using VideosWebsite.Services
@using VideosWebsite.Services.HTML_Helpers.GetFileName

@{
    ViewData["Title"] = "Videos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model string[]

<h1>VideosPage</h1>

<div>
    <input type="text"/>
</div>

<div>
    @{Html.RenderPartial("../PartialViews/_TagsBar.cshtml");}
</div>

<div>
    @{Html.RenderPartial("UploadVideo");}
</div>

<div class="thumbnailgrid">
    @foreach (var thumbnail in Model)
    {
        <a href="@Url.Action("PlayVideo", "Videos")">
            <img class="thumbnail" src="~/storage/Thumbnails/@Html.GetFileName(thumbnail)" />
        </a>
    }
</div>



