@using VideosWebsite.Services.VideoAccess
@inject IVideoAccess videoaccess;

@{
    ViewData["Title"] = "Videos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var videoslist = "";
}

@model string[]

<h1>VideosPage</h1>

<div>
    <input type="text"/>
</div>

<div>
    @{Html.RenderPartial("../PartialViews/_TagsBar.cshtml");}
</div>

<div>
    @{Html.RenderPartial("UploadVideo");}
</div>

@foreach (string videoFile in Model)
{
    <video>
        <source src="@Url.Content(videoFile)" type="video">
    </video>
}








<!--
<script>
    function getData() {
        $.ajax({
            url: "/Videos/GetVideos", // Replace 'Controller' with the actual name of your controller
            type: "GET",
            success: function (data) {
                // Process the returned data
                // Update the view dynamically using JavaScript
            },
            error: function (xhr, status, error) {
                // Handle any errors that occur during the AJAX call
            }
        });
    }

    // Call the function when the view loads or on a specific event
    $(document).ready(function () {
        getData();
    });
</script>
-->

