@using VideosWebsite.Services.VideoAccess
@using Microsoft.AspNetCore.Html
@using VideosWebsite.Services
@using VideosWebsite.Services.HTML_Helpers.GetFileName

@{
    ViewData["Title"] = "Videos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var thumbnails = ViewData["thumbnailfiles"] as string[];
}

@model string[]

<h1>VideosPage</h1>

<div>
    <input type="text"/>
</div>

<div>
    @{Html.RenderPartial("../PartialViews/_TagsBar.cshtml");}
</div>

<div>
    @{Html.RenderPartial("UploadVideo");}
</div>

@foreach (var thumbnail in thumbnails!)
{
    <img src="~/videosstorage/Thumbnails/@Html.GetFileName(thumbnail)" />
}



