<nav>
    <div>
        <a href="#">My Website</a>
        <div>
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Videos" asp-action="VideosPage">Videos</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Page2</a>
                </li>
            </ul>
        </div>
    </div>
</nav>