@using Microsoft.CodeAnalysis
@model Video

@{
    string videoidstring = "";
    videoidstring = Context.GetRouteValue("id").ToString();
    int videoid = int.Parse(videoidstring);

}

<button>Back</button>



<div>
    <h1>@Model.Title</h1>
    <div>
        <img/>
        <h2>@Model.Likes</h2>
    </div>
</div>

<video controls>
    <source src="@Url.Action("StreamVideo", "Videos", new { id = videoid })" autoplay="true">
</video>


