@using VideosWebsite.Services.VideoAccess
@inject IVideoAccess videoaccess;

@{
    ViewData["Title"] = "VideosPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var videoslist = "";
}

<h1>VideosPage</h1>

<div>
    <input type="text"/>
</div>


<form method="post" asp-action="GetVideos">
    <button type="submit">Refresh</button>
</form>

@foreach (var video in videoslist)
{
    
}

