@using VideosWebsite.Services.VideoAccess
@inject IVideoAccess videoaccess;

@{
    ViewData["Title"] = "VideosPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var videoslist = videoaccess.ShowVideos();
}

<h1>VideosPage</h1>

@foreach (var video in videoslist)
{
    
}

